@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* 
{
  font-family: 'Roboto', sans-serif;
}

html 
{
  margin: 0px;
  padding: 0px;
  background: #f3f6f9;
}

body 
{
  margin: 0px;
  padding: 0px;
}

/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/

/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/

.header_title
{
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}

.header_title h1
{
  font-size: 18px;
  margin-bottom: 0px;
}

.header_title i
{
  font-size: 14px;
}

.left_menu
{
  display: flex;
  flex-flow: column;

  height: 100vh;

  position: fixed;

  background: #3f4d67;
  box-shadow: 1px 0 20px 0 #3f4d67;
}

.left_menu ul
{
  margin: 0px;
  padding: 0px;
  padding-top: 30px;
}

.left_menu ul li
{
  display: block;
  list-style: none;
}

.left_menu ul .li_label
{
  margin-left: 15px;
  margin-top: 30px; 
  margin-bottom: 20px;
}

.left_menu ul li label
{
  color: white;
}

.left_menu ul li a
{
  display: block;
  text-decoration: none;
  color: white;
  text-align: left;
  padding: 10px 15px;
  margin: 0px 0 0;
}

.left_menu ul li a:hover
{
  transition: 0.3s;
  background: #2b364b;
  color: white;
}

.left_menu ul li a span
{
  
}

/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/

.container 
{
  padding: 20px;
  background: #f3f6f9;
}

.menu
{
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.right_toolbar {
  min-width: 100px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.notification 
{
  padding: 5px;
  color: #3f5275;
}

.notification:hover
{
  transition: 0.3s;
  color: #04a9f5;
  cursor: pointer;
}

.settings 
{
  padding: 5px;
  color: #3f5275;
}

.settings:hover
{
  transition: 0.3s;
  color: #04a9f5;
  cursor: pointer;
}