@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* 
{
  font-family: 'Roboto', sans-serif;
}

html 
{
  margin: 0px;
  padding: 0px;
  background: #f3f6f9;
}

body 
{
  margin: 0px;
  padding: 0px;
}

/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/

/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/

.left_menu
{
  display: flex;
  flex-flow: column;
  padding: 20px;

  height: 100vh;

  position: fixed;

  background: #3f4d67;
  box-shadow: 1px 0 20px 0 #3f4d67;
}

.left_menu ul
{
  
}

.left_menu ul li
{
  list-style: none;
}

.left_menu ul li a
{
  text-decoration: none;
}

.left_menu ul li a:hover
{
  transition: 0.3s;
  background: #2b364b;
  color: white;
}

.left_menu ul li a span
{

}

/****************************************************************************************/
/****************************************************************************************/
/****************************************************************************************/

.container 
{
  padding: 20px;
  background: #f3f6f9;
}

.menu
{
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.right_toolbar {
  min-width: 100px;
  display: inline-flex;
  flex-direction: row;
}

.notification 
{
  padding: 5px;
  color: #3f5275;
}

.notification:hover
{
  transition: 0.3s;
  color: #04a9f5;
  cursor: pointer;
}

.settings 
{
  padding: 5px;
  color: #3f5275;
}

.settings:hover
{
  transition: 0.3s;
  color: #04a9f5;
  cursor: pointer;
}